In [7]:
# import the libraries

import pandas as pd
import numpy as np

electronic_sales = pd.read_csv(r"C:\Users\jki\Downloads\electronic sales\electronic sales.csv" )
electronic_sales.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,12,4/19/2019,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,100,4/7/2019,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,4/12/2019,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,12,4/12/2019,"669 Spruce St, Los Angeles, CA 90001"