In [1]:
# import library
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import datetime as dt

#For Data  Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# lets load the data

air = pd.read_csv(r"C:\Users\jki\Downloads\Aamzon Datasets\Air Conditioners.csv")
air.head(5)

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255.00","₹32,999","₹58,990"
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948.00","₹46,490","₹75,990"
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206.00","₹34,490","₹61,990"
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4,69.00,"₹37,990","₹68,990"
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630.00,"₹34,490","₹67,790"

In [2]:
# lets check the statsistsical summary 
air.describe()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
count,720,720,720,720,720,433,433,457,500
unique,708,1,1,635,720,31,187,295,296
top,Samsung 1.5 Ton 3 Star Wind-Free Technology In...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4,1.00,"₹39,990","₹59,990"
freq,3,720,720,6,1,56,45,11,15

In [3]:
# lets check at the data types
air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             720 non-null    object
 1   main_category    720 non-null    object
 2   sub_category     720 non-null    object
 3   image            720 non-null    object
 4   link             720 non-null    object
 5   ratings          433 non-null    object
 6    no_of_ratings   433 non-null    object
 7   discount_price   457 non-null    object
 8   actual_price     500 non-null    object
dtypes: object(9)
memory usage: 50.8+ KB

In [5]:
# lets have a lokk if we have missing values
missing_values = air.isna().sum()
print(missing_values)

name                 0
main_category        0
sub_category         0
image                0
link                 0
ratings            287
 no_of_ratings     287
discount_price     263
actual_price       220
dtype: int64

In [8]:
# lets drop the missing values and confirm
air.dropna(subset=['ratings'],inplace=True)



air.dropna(subset=['discount_price'],inplace=True)
air.dropna(subset=['actual_price'],inplace=True)

In [9]:
# lets have a lokk if we have missing values
missing_values = air.isna().sum()
print(missing_values)

name               0
main_category      0
sub_category       0
image              0
link               0
ratings            0
 no_of_ratings     0
discount_price     0
actual_price       0
dtype: int64

In [10]:
# lets check at the data types
air.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331 entries, 0 to 700
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             331 non-null    object
 1   main_category    331 non-null    object
 2   sub_category     331 non-null    object
 3   image            331 non-null    object
 4   link             331 non-null    object
 5   ratings          331 non-null    object
 6    no_of_ratings   331 non-null    object
 7   discount_price   331 non-null    object
 8   actual_price     331 non-null    object
dtypes: object(9)
memory usage: 25.9+ KB

In [11]:
# lest convert the dat types
air['ratings'] = air['ratings'].astype[int] 
air['no_of_ratings'] = air['no_of_ratings'].astype[int]

# lets check at the data types
air.info()

TypeError: 'method' object is not subscriptable