In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\Users\jki\Desktop\Preactse Data sets\Bakery price.csv", index_col = "Name")

In [6]:
df

                        price
Name
angbutter                4800
plain bread              3500
jam                      1500
ice coffe                4000
croissant                3500
ice coffe latter         4500
tiramisu croissant       4800
cacao deep               4000
pain au chocolat         3500
almond croissant         4000
ice milk tea             4500
gateau chocolat          4000
pandoro                  4500
cheese cake              5000
lemon ade                4500
orange pound             4500
wiener                   2500
valina latte             4500
berry ade                4500
tiramisu                 4500
merinque cookies         4000
delivery fee        2000~4000

In [7]:
df.loc["berry ade"]

price    4500
Name: berry ade, dtype: object