# Data Recording Sales 

## Data Exploration & Cleaning
The first part of any data analysis or predictive modeling task is an initial exploration of the data. Even if you collected the data yourself and you already have a list of questions in mind that you want to answer, it is important to explore the data before doing any serious analysis, since oddities in the data can cause bugs and muddle your results. Before exploring deeper questions, you have to answer many simpler ones about the form and quality of data. That said, it is important to go into your initial data exploration with a big picture question in mind since the goal of your analysis should inform how you prepare the data.

In [35]:

# Load in some packages
import calendar
import pandas as pd
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings("ignore")

dr_sales_df = pd.read_excel(r"C:\Users\jki\Downloads\Data Recording Sales Dataset.xlsx")
.head(6)

,Date,Party,Voucher Type,Voucher No.,GSTIN/UIN,Quantity,Value,Gross Total
0,2017-07-07 00:00:00,Bhavin Jani,SALES,d4a8c69b845073bd,22f9741467a02b6530,136.0,53200.0,65796.0
1,2017-07-07 00:00:00,Jayesh Rege,SALES,40549be5cab3e7a9,23c8d6101b1869f123,24.0,24600.0,31488.0
2,2017-07-07 00:00:00,Farhan Zachariah,SALES,fc4e8e9ba6911989,24f73a863eae7cf9d9,155.0,68660.0,82839.0
3,2017-07-08 00:00:00,Farhan Zachariah,SALES,83c11df1ada57622,24f73a863eae7cf9d9,319.0,164475.0,194860.5
4,2017-07-10 00:00:00,Kabir Raj,SALES,e85983fe05035e77,08b8060280e794624c,110.0,26000.0,31100.0
5,2017-07-12 00:00:00,Aradhya Dhillon,SALES,6fc9e94f41df3696,24b6a7b12f0e96b7b0,2.0,2300.0,2944.0

In [36]:
dr_sales_df.describe()

         Quantity         Value    Gross Total
count  3840.00000    8269.00000    3865.000000
mean     89.95651   19597.45428   28748.707710
std     225.38996   30552.11632   41124.986124
min       1.00000 -145591.00000     260.000000
25%      10.00000    2800.00000    6897.000000
50%      25.00000   10875.00000   15753.000000
75%      75.00000   24750.00000   32745.000000
max    5100.00000  435000.00000  440730.000000

In [37]:
# lets remove missing values

missing_values = dr_sales_df.isna().sum()
print(missing_values)

Date            3573
Party              0
Voucher Type    4404
Voucher No.     4404
GSTIN/UIN       4519
Quantity        4429
Value              0
Gross Total     4404
dtype: int64

In [41]:
# lets remove missing values
dr_sales_df.dropna(subset=['Date'],inplace=True)
dr_sales_df.dropna(subset=['Voucher Type'],inplace=True)
dr_sales_df.dropna(subset=['Voucher No.'],inplace=True)
dr_sales_df.dropna(subset=['GSTIN/UIN'],inplace=True)
dr_sales_df.dropna(subset=['Quantity'],inplace=True)
dr_sales_df.dropna(subset=['Gross Total'],inplace=True)
# lets remove missing values

missing_values = dr_sales_df.isna().sum()
print(missing_values)

Date            0
Party           0
Voucher Type    0
Voucher No.     0
GSTIN/UIN       0
Quantity        0
Value           0
Gross Total     0
dtype: int64