In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\jki\Desktop\Data Analysis Porfolio Projects\Python Data Analysis Projects\Data Cleaning Projects\Customer Call List\DOHMH Call Center Summary\DOHMH_Call_Center_Summary.csv")
df

,Metric,TotalNoOfCalls,AvgSpeedOfAnswer,CallPctAnsweredWi30Secs,Month,Year
0,Dog License Unit,254,76,0.95,3,2023
1,Providers,155,86,0.94,3,2023
2,STD,5885,85,0.36,3,2023
3,Vital Records,7999,71,0.87,3,2023
4,Dog License Unit,189,0:00:22,0.96,2,2023
...,...,...,...,...,...,...
199,Vital Records,5991,0:05:08,0.43,2,2019
200,Dog License Unit,345,0:00:23,0.81,1,2019
201,Providers,384,0:00:21,0.78,1,2019
202,STD,961,0:00:35,0.77,1,2019
203,Vital Records,5761,0:01:45,0.59,1,2019

In [3]:
df = df.drop_duplicates()
df

,Metric,TotalNoOfCalls,AvgSpeedOfAnswer,CallPctAnsweredWi30Secs,Month,Year
0,Dog License Unit,254,76,0.95,3,2023
1,Providers,155,86,0.94,3,2023
2,STD,5885,85,0.36,3,2023
3,Vital Records,7999,71,0.87,3,2023
4,Dog License Unit,189,0:00:22,0.96,2,2023
...,...,...,...,...,...,...
199,Vital Records,5991,0:05:08,0.43,2,2019
200,Dog License Unit,345,0:00:23,0.81,1,2019
201,Providers,384,0:00:21,0.78,1,2019
202,STD,961,0:00:35,0.77,1,2019
203,Vital Records,5761,0:01:45,0.59,1,2019

In [5]:
df=df.fillna('')
df

,Metric,TotalNoOfCalls,AvgSpeedOfAnswer,CallPctAnsweredWi30Secs,Month,Year
0,Dog License Unit,254,76,0.95,3,2023
1,Providers,155,86,0.94,3,2023
2,STD,5885,85,0.36,3,2023
3,Vital Records,7999,71,0.87,3,2023
4,Dog License Unit,189,0:00:22,0.96,2,2023
...,...,...,...,...,...,...
199,Vital Records,5991,0:05:08,0.43,2,2019
200,Dog License Unit,345,0:00:23,0.81,1,2019
201,Providers,384,0:00:21,0.78,1,2019
202,STD,961,0:00:35,0.77,1,2019
203,Vital Records,5761,0:01:45,0.59,1,2019