In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\jki\Desktop\Data Analysis Porfolio Projects\Python Data Analysis Projects\Data Cleaning Projects\Customer Call List\NYCHA Customer Contact Centers\NYCHA_Customer_Contact_Centers.csv" )
df

,Name,Address 1,Address 2,City,State,Zip Code,Phone #,Days,Hours,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,Brooklyn/Staten Island Customer Contact Center,787 Atlantic Avenue,2nd Floor,Brooklyn,NY,11238,(718) 707-7771,Mon.- Fri.,8am - 5pm,40.681945,-73.968351,2,35,199,3335092,3020090001,Clinton Hill
1,Bronx/Manhattan Customer Contact Center,478 East Fordham Road (1 Fordham Plaza),2nd Floor,Bronx,NY,10458,(718) 707-7771,Mon.- Fri.,8am - 5pm,40.860510,-73.889148,6,15,387,2088325,2030330053,Belmont

In [5]:
df = df.drop_duplicates()
df

,Name,Address 1,Address 2,City,State,Zip Code,Phone #,Days,Hours,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,Brooklyn/Staten Island Customer Contact Center,787 Atlantic Avenue,2nd Floor,Brooklyn,NY,11238,(718) 707-7771,Mon.- Fri.,8am - 5pm,40.681945,-73.968351,2,35,199,3335092,3020090001,Clinton Hill
1,Bronx/Manhattan Customer Contact Center,478 East Fordham Road (1 Fordham Plaza),2nd Floor,Bronx,NY,10458,(718) 707-7771,Mon.- Fri.,8am - 5pm,40.860510,-73.889148,6,15,387,2088325,2030330053,Belmont

In [6]:
df=df.fillna('')
df

,Name,Address 1,Address 2,City,State,Zip Code,Phone #,Days,Hours,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,Brooklyn/Staten Island Customer Contact Center,787 Atlantic Avenue,2nd Floor,Brooklyn,NY,11238,(718) 707-7771,Mon.- Fri.,8am - 5pm,40.681945,-73.968351,2,35,199,3335092,3020090001,Clinton Hill
1,Bronx/Manhattan Customer Contact Center,478 East Fordham Road (1 Fordham Plaza),2nd Floor,Bronx,NY,10458,(718) 707-7771,Mon.- Fri.,8am - 5pm,40.860510,-73.889148,6,15,387,2088325,2030330053,Belmont