In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\jki\Desktop\Data Analysis Porfolio Projects\Python Data Analysis Projects\Data Cleaning Projects\Customer Call List\MTA\MTA_NYCT_Paratransit_Call_Center_Performance__Beginning_2016.csv")
df

,Month,Call Type,Number of Calls Received,Number of Calls Picked Up,Calls Answered,Average Answer Speed
0,09/01/2016,Reservations,365140,352564,97%,44
1,09/01/2016,Transit Control,284798,272874,96%,26
2,10/01/2016,Reservations,364498,357760,98%,28
3,10/01/2016,Transit Control,265864,259717,98%,14
4,11/01/2016,Reservations,363190,354337,98%,36
...,...,...,...,...,...,...
167,08/01/2023,Transit Control,264236,253901,96%,24
168,09/01/2023,Reservations,465731,453239,97%,34
169,09/01/2023,Transit Control,304932,294327,97%,27
170,10/01/2023,Reservations,492853,480855,98%,33
171,10/01/2023,Transit Control,291869,282427,97%,23

In [4]:
df = df.drop_duplicates()
df

,Month,Call Type,Number of Calls Received,Number of Calls Picked Up,Calls Answered,Average Answer Speed
0,09/01/2016,Reservations,365140,352564,97%,44
1,09/01/2016,Transit Control,284798,272874,96%,26
2,10/01/2016,Reservations,364498,357760,98%,28
3,10/01/2016,Transit Control,265864,259717,98%,14
4,11/01/2016,Reservations,363190,354337,98%,36
...,...,...,...,...,...,...
167,08/01/2023,Transit Control,264236,253901,96%,24
168,09/01/2023,Reservations,465731,453239,97%,34
169,09/01/2023,Transit Control,304932,294327,97%,27
170,10/01/2023,Reservations,492853,480855,98%,33
171,10/01/2023,Transit Control,291869,282427,97%,23

In [5]:
df=df.fillna('')
df

,Month,Call Type,Number of Calls Received,Number of Calls Picked Up,Calls Answered,Average Answer Speed
0,09/01/2016,Reservations,365140,352564,97%,44
1,09/01/2016,Transit Control,284798,272874,96%,26
2,10/01/2016,Reservations,364498,357760,98%,28
3,10/01/2016,Transit Control,265864,259717,98%,14
4,11/01/2016,Reservations,363190,354337,98%,36
...,...,...,...,...,...,...
167,08/01/2023,Transit Control,264236,253901,96%,24
168,09/01/2023,Reservations,465731,453239,97%,34
169,09/01/2023,Transit Control,304932,294327,97%,27
170,10/01/2023,Reservations,492853,480855,98%,33
171,10/01/2023,Transit Control,291869,282427,97%,23