In [32]:
# import libraies
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import numpy as np

# import data
df = pd.read_csv(r"C:\Users\jki\Downloads\sales_data.csv")
df.head()

,invoice_no,customer_id,category,quantity,price,invoice_date,shopping_mall
0,I138884,C241288,Clothing,5,1500.40,5/8/2022,Kanyon
1,I317333,C111565,Shoes,3,1800.51,12/12/2021,Forum Istanbul
2,I127801,C266599,Clothing,1,300.08,9/11/2021,Metrocity
3,I173702,C988172,Shoes,5,3000.85,16-05-2021,Metropol AVM
4,I337046,C189076,Books,4,60.60,24-10-2021,Kanyon

In [33]:
# get statistical summar
df.describe()

           quantity         price
count  99457.000000  99457.000000
mean       3.003429    689.256321
std        1.413025    941.184567
min        1.000000      5.230000
25%        2.000000     45.450000
50%        3.000000    203.300000
75%        4.000000   1200.320000
max        5.000000   5250.000000

In [37]:
# check for data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   invoice_no     99457 non-null  object
 1   customer_id    99457 non-null  object
 2   category       99457 non-null  object
 3   quantity       99457 non-null  int64
 4   price          99457 non-null  float64
 5   invoice_date   99457 non-null  object
 6   shopping_mall  99457 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 5.3+ MB

In [42]:
# check for missing values
missing_values = df.isnull().sum()
print(missing_values)

invoice_no       0
customer_id      0
category         0
quantity         0
price            0
invoice_date     0
shopping_mall    0
dtype: int64

In [43]:
# Let’s also convert the “CustomerID” to an integer:



df['customer_id'] = df['customer_id'].astype(int)
df

ValueError: invalid literal for int() with base 10: 'C111565'

In [44]:
# Verify the data type conversion
print(df.dtypes)

invoice_no        object
customer_id       object
category          object
quantity           int64
price            float64
invoice_date      object
shopping_mall     object
dtype: object

KeyError: 'customer_id'

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customer_id   1 non-null      object
dtypes: object(1)
memory usage: 140.0+ bytes