In [1]:

# Load in some packages
import calendar
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

# load dataset
electron_sales_df =pd.read_excel(r"C:\Users\jki\Downloads\electronic sales\electronic sales.xlsx")  
electron_sales_df

,Order ID,Product,Quantity,Price,Date,Address
0,176558.0,USB-C Charging Cable,2.0,12.0,2019-04-19,"917 1st St, Dallas, TX 75001"
1,176559.0,Bose SoundSport Headphones,1.0,100.0,2019-04-07,"682 Chestnut St, Boston, MA 02215"
2,176560.0,Google Phone,1.0,600.0,2019-04-12,"669 Spruce St, Los Angeles, CA 90001"
3,176560.0,Wired Headphones,1.0,12.0,2019-04-12,"669 Spruce St, Los Angeles, CA 90001"
4,176561.0,Wired Headphones,1.0,12.0,2019-04-30,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
65530,219872.0,Wired Headphones,1.0,12.0,2019-06-27,"846 9th St, Seattle, WA 98101"
65531,219873.0,AAA Batteries (4-pack),1.0,3.0,2019-06-18,"838 12th St, Los Angeles, CA 90001"
65532,219874.0,USB-C Charging Cable,1.0,12.0,2019-06-13,"925 Chestnut St, Atlanta, GA 30301"
65533,219875.0,Wired Headphones,1.0,12.0,2019-06-13,"692 9th St, Boston, MA 02215"
65534,219876.0,Apple Airpods Headphones,1.0,150.0,2019-06-12,"693 Spruce St, Dallas, TX 75001"

In [2]:
# let see if we have missing values
missing_values = electron_sales_df.isna().sum()
print(missing_values)

Order ID    323
Product     323
Quantity    323
Price       323
Date        323
Address     323
dtype: int64

In [5]:
# lets remove missing values
electron_sales_df.dropna(subset=['Order ID'],inplace=True)
electron_sales_df.dropna(subset=['Product'],inplace=True)
electron_sales_df.dropna(subset=['Quantity'],inplace=True)
electron_sales_df.dropna(subset=['Price'],inplace=True)
electron_sales_df.dropna(subset=['Date'],inplace=True)
electron_sales_df.dropna(subset=['Address'],inplace=True)

# let see if we have missing values
missing_values = electron_sales_df.isna().sum()
print(missing_values)

Order ID    0
Product     0
Quantity    0
Price       0
Date        0
Address     0
dtype: int64