In [4]:
# Let import librries

import pandas as pd
import numpy as np

# load the data
espn_cricket_df = pd.read_csv(r"C:\Users\jki\Downloads\ESP Cricket Data.csv")
espn_cricket_df.head(10)

,Player,Span,Mat,Inns,NO,Runs,HS,*Ave*,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,*99.94*,9800+,58.6,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,*62.15*,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,*61.87*,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,*60.97*,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,*60.83*,416+,56,10,5,2,104+,1
5,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,*60.73*,6558+,34.59,16,23,2,202+,6
6,E Paynter (ENG),1931-1939,20,31,5,1540,243,*59.23*,1288+,45.88,4,7,3,125+,4
7,KF Barrington (ENG),1955-1968,82,131,15,6806,256,*58.67*,4957+,42.42,20,35,5,591+,27
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,*58.61*,-,-,15,19,6,258+,2
9,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,*58.45*,7491+,38.07,22,24,4,419+,27

In [6]:
# let check for missing values
missing_values = espn_cricket_df.isna().sum()
print(missing_values)

Player    0
Span      0
Mat       0
Inns      0
NO        0
Runs      0
HS        0
*Ave*     0
BF        0
SR        0
100       0
50        0
0         0
4s        0
6s        0
dtype: int64

In [7]:
# lets have look at the data types
espn_cricket_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  62 non-null     object
 1   Span    62 non-null     object
 2   Mat     62 non-null     int64
 3   Inns    62 non-null     int64
 4   NO      62 non-null     int64
 5   Runs    62 non-null     int64
 6   HS      62 non-null     object
 7   *Ave*   62 non-null     object
 8   BF      62 non-null     object
 9   SR      62 non-null     object
 10  100     62 non-null     int64
 11  50      62 non-null     int64
 12  0       62 non-null     int64
 13  4s      62 non-null     object
 14  6s      62 non-null     object
dtypes: int64(7), object(8)
memory usage: 7.4+ KB

In [8]:
# rename columns
espn_cricket_df =espn_cricket_df.rename(columns = {'Mat':'Matces','NO':'Not_Outes','HS':'Highest_Inns_Score','BF':'Balls_Faced','SF':'Batting_Strke_Rate'})
espn_cricket_df.head(5)

,Player,Span,Matces,Inns,Not_Outes,Runs,Highest_Inns_Score,*Ave*,Balls_Faced,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,*99.94*,9800+,58.6,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,*62.15*,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,*61.87*,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,*60.97*,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,*60.83*,416+,56,10,5,2,104+,1

In [9]:
# Letch check for null values
espn_cricket_df.head(5).isnull().any()

Player                False
Span                  False
Matces                False
Inns                  False
Not_Outes             False
Runs                  False
Highest_Inns_Score    False
*Ave*                 False
Balls_Faced           False
SR                    False
100                   False
50                    False
0                     False
4s                    False
6s                    False
dtype: bool

In [11]:
# let check for duplicate
espn_cricket_df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
57    False
58    False
59    False
60    False
61    False
Length: 62, dtype: bool

In [12]:
espn_cricket_df.head(4)

,Player,Span,Matces,Inns,Not_Outes,Runs,Highest_Inns_Score,*Ave*,Balls_Faced,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,*99.94*,9800+,58.6,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,*62.15*,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,*61.87*,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,*60.97*,1707+,54.48,7,11,1,246+,11

In [13]:
# lets split the dates
espn_cricket_df['Rookie Year'] = espn_cricket_df['Span'].str.split(pat='-').str[0]
espn_cricket_df['Final Year'] = espn_cricket_df['Span'].str.split(pat='-').str[1]
espn_cricket_df.head(5)

,Player,Span,Matces,Inns,Not_Outes,Runs,Highest_Inns_Score,*Ave*,Balls_Faced,SR,100,50,0,4s,6s,Rookie Year,Final Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,*99.94*,9800+,58.6,29,13,7,626+,6,1928,1948
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,*62.15*,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,*61.87*,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,*60.97*,1707+,54.48,7,11,1,246+,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,*60.83*,416+,56,10,5,2,104+,1,1930,1954

In [15]:
# lets drop span column
espn_cricket_df = espn_cricket_df.head(5).drop(['Span'], axis = 1)
espn_cricket_df.head(5)

,Player,Matces,Inns,Not_Outes,Runs,Highest_Inns_Score,*Ave*,Balls_Faced,SR,100,50,0,4s,6s,Rookie Year,Final Year
0,DG Bradman (AUS),52,80,10,6996,334,*99.94*,9800+,58.6,29,13,7,626+,6,1928,1948
1,HC Brook (ENG),12,20,1,1181,186,*62.15*,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),20,31,7,1485,269*,*61.87*,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,*60.97*,1707+,54.48,7,11,1,246+,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,*60.83*,416+,56,10,5,2,104+,1,1930,1954

In [17]:
# lets create new column to represent the country



espn_cricket_df['Country'] = espn_cricket_df['Player'].str.extract(r'\(([^)]*)\)')  # Extracting the country

espn_cricket_df.head(5)

,Player,Matces,Inns,Not_Outes,Runs,Highest_Inns_Score,*Ave*,Balls_Faced,SR,100,50,0,4s,6s,Rookie Year,Final Year,Name,Country
0,DG Bradman (AUS),52,80,10,6996,334,*99.94*,9800+,58.6,29,13,7,626+,6,1928,1948,NaN,AUS
1,HC Brook (ENG),12,20,1,1181,186,*62.15*,1287,91.76,4,7,1,141,23,2022,2023,NaN,ENG
2,AC Voges (AUS),20,31,7,1485,269*,*61.87*,2667,55.68,5,4,2,186,5,2015,2016,NaN,AUS
3,RG Pollock (SA),23,41,4,2256,274,*60.97*,1707+,54.48,7,11,1,246+,11,1963,1970,NaN,SA
4,GA Headley (WI),22,40,4,2190,270*,*60.83*,416+,56,10,5,2,104+,1,1930,1954,NaN,WI

In [18]:
# lets change the data types
espn_cricket_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player              5 non-null      object
 1   Matces              5 non-null      int64
 2   Inns                5 non-null      int64
 3   Not_Outes           5 non-null      int64
 4   Runs                5 non-null      int64
 5   Highest_Inns_Score  5 non-null      object
 6   *Ave*               5 non-null      object
 7   Balls_Faced         5 non-null      object
 8   SR                  5 non-null      object
 9   100                 5 non-null      int64
 10  50                  5 non-null      int64
 11  0                   5 non-null      int64
 12  4s                  5 non-null      object
 13  6s                  5 non-null      object
 14  Rookie Year         5 non-null      object
 15  Final Year          5 non-null      object
 16  Name                0 non-null      object
 17  Country             5 non-null      object
dtypes: int64(7), object(11)
memory usage: 852.0+ bytes

In [23]:
# lets clean up the columns
espn_cricket_df['Matches'] = espn_cricket_df['Matces']
espn_cricket_df['Name of Player'] = espn_cricket_df['Player']



espn_cricket_df.head(5)

,Player,Matces,Inns,Not_Outes,Runs,Highest_Inns_Score,*Ave*,Balls_Faced,SR,100,50,0,4s,6s,Rookie Year,Final Year,Country,Matches,Name of Player
0,DG Bradman (AUS),52,80,10,6996,334,*99.94*,9800+,58.6,29,13,7,626+,6,1928,1948,AUS,52,DG Bradman (AUS)
1,HC Brook (ENG),12,20,1,1181,186,*62.15*,1287,91.76,4,7,1,141,23,2022,2023,ENG,12,HC Brook (ENG)
2,AC Voges (AUS),20,31,7,1485,269*,*61.87*,2667,55.68,5,4,2,186,5,2015,2016,AUS,20,AC Voges (AUS)
3,RG Pollock (SA),23,41,4,2256,274,*60.97*,1707+,54.48,7,11,1,246+,11,1963,1970,SA,23,RG Pollock (SA)
4,GA Headley (WI),22,40,4,2190,270*,*60.83*,416+,56,10,5,2,104+,1,1930,1954,WI,22,GA Headley (WI)

In [24]:
# lets clene up the ave and  balls_faced columns
espn_cricket_df['*Ave*'] = espn_cricket_df['*Ave*'].str.replace('*', '')
espn_cricket_df['Balls_Faced'] = espn_cricket_df['Balls_Faced'].str.replace('+', '')

espn_cricket_df.head(5)

C:\Users\jki\AppData\Local\Temp\ipykernel_13048\1507162172.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  espn_cricket_df['*Ave*'] = espn_cricket_df['*Ave*'].str.replace('*', '')
C:\Users\jki\AppData\Local\Temp\ipykernel_13048\1507162172.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  espn_cricket_df['Balls_Faced'] = espn_cricket_df['Balls_Faced'].str.replace('+', '')

,Player,Matces,Inns,Not_Outes,Runs,Highest_Inns_Score,*Ave*,Balls_Faced,SR,100,50,0,4s,6s,Rookie Year,Final Year,Country,Matches,Name of Player
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.6,29,13,7,626+,6,1928,1948,AUS,52,DG Bradman (AUS)
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG,12,HC Brook (ENG)
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,20,AC Voges (AUS)
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,SA,23,RG Pollock (SA)
4,GA Headley (WI),22,40,4,2190,270*,60.83,416,56,10,5,2,104+,1,1930,1954,WI,22,GA Headley (WI)

In [25]:
# lets clean the data types
espn_cricket_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player              5 non-null      object
 1   Matces              5 non-null      int64
 2   Inns                5 non-null      int64
 3   Not_Outes           5 non-null      int64
 4   Runs                5 non-null      int64
 5   Highest_Inns_Score  5 non-null      object
 6   *Ave*               5 non-null      object
 7   Balls_Faced         5 non-null      object
 8   SR                  5 non-null      object
 9   100                 5 non-null      int64
 10  50                  5 non-null      int64
 11  0                   5 non-null      int64
 12  4s                  5 non-null      object
 13  6s                  5 non-null      object
 14  Rookie Year         5 non-null      object
 15  Final Year          5 non-null      object
 16  Country             5 non-null      object
 17  Matches             5 non-null      int64
 18  Name of Player      5 non-null      object
dtypes: int64(8), object(11)
memory usage: 892.0+ bytes

In [30]:
# lets clean the data types

espn_cricket_df['Highest_Inns_Score'] = espn_cricket_df['Highest_Inns_Score'].str.replace('*', '')



espn_cricket_df.head(5)

C:\Users\jki\AppData\Local\Temp\ipykernel_13048\789735129.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  espn_cricket_df['Highest_Inns_Score'] = espn_cricket_df['Highest_Inns_Score'].str.replace('*', '')

,Player,Matces,Inns,Not_Outes,Runs,Highest_Inns_Score,*Ave*,Balls_Faced,SR,100,50,0,4s,6s,Rookie Year,Final Year,Country,Matches,Name of Player
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.6,29,13,7,626+,6,1928,1948,AUS,52,DG Bradman (AUS)
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG,12,HC Brook (ENG)
2,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,20,AC Voges (AUS)
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,SA,23,RG Pollock (SA)
4,GA Headley (WI),22,40,4,2190,270,60.83,416,56,10,5,2,104+,1,1930,1954,WI,22,GA Headley (WI)

In [32]:

espn_cricket_df['Highest_Inns_Score'].str.split(pat  = '*').str[0]

0    334
1    186
2    269
3    274
4    270
Name: Highest_Inns_Score, dtype: object

In [34]:

espn_cricket_df['Highest_Inns_Score'] = pd.to_numeric(espn_cricket_df['Highest_Inns_Score'])
espn_cricket_df['*Ave*'] = pd.to_numeric(espn_cricket_df['*Ave*'])
espn_cricket_df['Balls_Faced'] =  pd.to_numeric(espn_cricket_df['Balls_Faced'])
espn_cricket_df['SR'] =  pd.to_numeric(espn_cricket_df['SR'])
espn_cricket_df['Rookie Year'] = pd.to_datetime(espn_cricket_df['Rookie Year'])
espn_cricket_df['Final Year'] = pd.to_datetime(espn_cricket_df['Final Year'])
espn_cricket_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player              5 non-null      object
 1   Matces              5 non-null      int64
 2   Inns                5 non-null      int64
 3   Not_Outes           5 non-null      int64
 4   Runs                5 non-null      int64
 5   Highest_Inns_Score  5 non-null      int64
 6   *Ave*               5 non-null      float64
 7   Balls_Faced         5 non-null      int64
 8   SR                  5 non-null      float64
 9   100                 5 non-null      int64
 10  50                  5 non-null      int64
 11  0                   5 non-null      int64
 12  4s                  5 non-null      object
 13  6s                  5 non-null      object
 14  Rookie Year         5 non-null      datetime64[ns]
 15  Final Year          5 non-null      datetime64[ns]
 16  Country             5 non-null      object
 17  Matches             5 non-null      int64
 18  Name of Player      5 non-null      object
dtypes: datetime64[ns](2), float64(2), int64(10), object(5)
memory usage: 892.0+ bytes