In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\jki\Desktop\Preactse Data sets\Customer DM.csv",encoding='ISO-8859-1')
df

      CustomerKey\tFull Name\tGender\tDateFirstPurchase\tCustomer City
0          11000\tJon Yang\tMale\t1/19/2020\tRockhampton
1          11001\tEugene Huang\tMale\t1/15/2020\tSeaford
2            11002\tRuben Torres\tMale\t1/7/2020\tHobart
3      11003\tChristy Zhu\tFemale\t12/29/2019\tNorth ...
4      11004\tElizabeth Johnson\tFemale\t1/23/2020\tW...
...                                                  ...
18479      29479\tTommy Tang\tMale\t9/4/2021\tVersailles
18480        29480\tNina Raji\tFemale\t7/17/2022\tLondon
18481             29481\tIvan Suri\tMale\t8/13/2020\tHof
18482  29482\tClayton Zhang\tMale\t9/18/2021\tSaint Ouen
18483  29483\tJésus Navarro\tMale\t9/9/2021\tParis La...

[18484 rows x 1 columns]

In [4]:
# split the Name column into two columns
df[['First Name', 'Last Name']] = df['Customer DM'].str.split(' ', expand=True)

KeyError: 'Customer DM'

In [5]:
df

      CustomerKey\tFull Name\tGender\tDateFirstPurchase\tCustomer City
0          11000\tJon Yang\tMale\t1/19/2020\tRockhampton
1          11001\tEugene Huang\tMale\t1/15/2020\tSeaford
2            11002\tRuben Torres\tMale\t1/7/2020\tHobart
3      11003\tChristy Zhu\tFemale\t12/29/2019\tNorth ...
4      11004\tElizabeth Johnson\tFemale\t1/23/2020\tW...
...                                                  ...
18479      29479\tTommy Tang\tMale\t9/4/2021\tVersailles
18480        29480\tNina Raji\tFemale\t7/17/2022\tLondon
18481             29481\tIvan Suri\tMale\t8/13/2020\tHof
18482  29482\tClayton Zhang\tMale\t9/18/2021\tSaint Ouen
18483  29483\tJésus Navarro\tMale\t9/9/2021\tParis La...

[18484 rows x 1 columns]