In [1]:
import pandas as pd

In [2]:
# create a sample DataFrame
df = pd.DataFrame({'Name': ['John Doe', 'Jane Smith', 'Bob Johnson']})
df

          Name
0     John Doe
1   Jane Smith
2  Bob Johnson

In [4]:
# split the Name column into two columns
df[['First Name', 'Last Name']] = df['Name'].str.split(' ', expand=True)
df

          Name First Name Last Name
0     John Doe       John       Doe
1   Jane Smith       Jane     Smith
2  Bob Johnson        Bob   Johnson