In [1]:

# Load in some packages
import calendar
import pandas as pd
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings("ignore")

# lets load the dataset
bigmart_sales_df = pd.read_excel(r"C:\Users\jki\Downloads\2  BigMart\Source Files\Cleaned Data\Big Mart Sales.xlsx")
bigmart_sales_df

,ProductID,Weight,FatContent,ProductVisibility,ProductType,Unit Price,Quantity,Total Sales,OutletID,Date,OutletSize,LocationType,OutletType
0,FDW58,21.0,Low Fat,0,Snack Foods,108,10000.0,1078622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.0,reg,0,Dairy,87,10000.0,873198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,15.0,Low Fat,0,Others,242,10000.0,2417538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.0,Low Fat,0,Snack Foods,155,10000.0,1550340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0,Dairy,234,10000.0,2342300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,11.0,Regular,0,Snack Foods,141,NaN,1413154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,8.0,Regular,0,Starchy Foods,169,NaN,1691448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.0,Low Fat,0,Health and Hygiene,119,NaN,1187440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.0,Regular,0,Canned,215,NaN,2146218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,10.0,Regular,0,Canned,80,NaN,797960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [3]:
# lets remove the missing values
missing_values = bigmart_sales_df.isna().sum()
print(missing_values)

ProductID               0
Weight                976
FatContent              0
ProductVisibility       0
ProductType             0
Unit Price              0
Quantity             5492
Total Sales             0
OutletID                0
Date                    0
OutletSize           1606
LocationType            0
OutletType              0
dtype: int64

In [6]:
# lets drop the missing values
bigmart_sales_df.dropna(subset=['Quantity'],inplace=True)
bigmart_sales_df.dropna(subset=['Weight'],inplace=True)
bigmart_sales_df.dropna(subset=['OutletSize'],inplace=True)

# lets remove the missing values
missing_values = bigmart_sales_df.isna().sum()
print(missing_values)

ProductID            0
Weight               0
FatContent           0
ProductVisibility    0
ProductType          0
Unit Price           0
Quantity             0
Total Sales          0
OutletID             0
Date                 0
OutletSize           0
LocationType         0
OutletType           0
dtype: int64

In [7]:
bigmart_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95 entries, 0 to 188
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ProductID          95 non-null     object
 1   Weight             95 non-null     float64
 2   FatContent         95 non-null     object
 3   ProductVisibility  95 non-null     int64
 4   ProductType        95 non-null     object
 5   Unit Price         95 non-null     int64
 6   Quantity           95 non-null     float64
 7   Total Sales        95 non-null     int64
 8   OutletID           95 non-null     object
 9   Date               95 non-null     int64
 10  OutletSize         95 non-null     object
 11  LocationType       95 non-null     object
 12  OutletType         95 non-null     object
dtypes: float64(2), int64(4), object(7)
memory usage: 10.4+ KB

In [8]:
# lets convert the date in date type
bigmart_sales_df['Date'] =  pd.to_datetime(bigmart_sales_df['Date'])
bigmart_sales_df['Date'].info()

<class 'pandas.core.series.Series'>
Int64Index: 95 entries, 0 to 188
Series name: Date
Non-Null Count  Dtype
--------------  -----
95 non-null     datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 1.5 KB

In [9]:
# Lets create column Yer
bigmart_sales_df['Year']  = bigmart_sales_df['Date'].dt.year
bigmart_sales_df['Year']

0      1970
5      1970
6      1970
13     1970
14     1970
       ...
182    1970
185    1970
186    1970
187    1970
188    1970
Name: Year, Length: 95, dtype: int64

In [10]:
bigmart_sales_df.head(6)

,ProductID,Weight,FatContent,ProductVisibility,ProductType,Unit Price,Quantity,Total Sales,OutletID,Date,OutletSize,LocationType,OutletType,Year
0,FDW58,21.0,Low Fat,0,Snack Foods,108,10000.0,1078622,OUT049,1970-01-01 00:00:00.000001999,Medium,Tier 1,Supermarket Type1,1970
5,FDH56,10.0,Regular,0,Fruits and Vegetables,117,10000.0,1171492,OUT046,1970-01-01 00:00:00.000001997,Small,Tier 1,Supermarket Type1,1970
6,FDL48,19.0,Regular,0,Baking Goods,50,10001.0,501034,OUT018,1970-01-01 00:00:00.000002009,Medium,Tier 3,Supermarket Type2,1970
13,FDU11,5.0,Low Fat,0,Breads,122,10000.0,1223098,OUT049,1970-01-01 00:00:00.000001999,Medium,Tier 1,Supermarket Type1,1970
14,DRL59,17.0,LF,0,Hard Drinks,52,10000.0,520298,OUT013,1970-01-01 00:00:00.000001987,High,Tier 3,Supermarket Type1,1970
15,FDM24,6.0,Regular,0,Baking Goods,152,10000.0,1516366,OUT049,1970-01-01 00:00:00.000001999,Medium,Tier 1,Supermarket Type1,1970