In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\jki\Desktop\Preactse Data sets\Fullname.csv")

In [3]:
df

                 (No column name)
0                 Guy  Gilbert  R
1                 Kevin  Brown  F
2           Roberto  Tamburello
3                  Rob  Walters
4                  Rob  Walters
..                            ...
291  Ranjit  Varkey Chudukatil  R
292          Tete  Mensa-Annan  A
293                Syed  Abbas  E
294             Rachel  Valdez  B
295             Lynn  Tsoflias  N

[296 rows x 1 columns]

In [5]:
df[["First Name", "Second Name", "Initial"]] = df["(No column name)"].str.split(',',2, expand=True)

C:\Users\jki\AppData\Local\Temp\ipykernel_6660\847317862.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[["First Name", "Second Name", "Initial"]] = df["(No column name)"].str.split(',',2, expand=True)

ValueError: Columns must be same length as key

In [ ]:
df