In [23]:
# import librries
import pandas as pd
import numpy as np 
import os
# load files

electronic_sales = pd.read_csv(r"D:\Tech\coding projects\5 Datasets\Pandas-Data-Science-Tasks\SalesAnalysis\Sales_Data\Sales_January_2019.csv")
electronic_sales

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700.00,1/22/2019,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,1/28/2019,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,1/17/2019,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,1/5/2019,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,1/25/2019,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...,...
9718,150497,20in Monitor,1,109.99,1/26/2019,"95 8th St, Dallas, TX 75001"
9719,150498,27in FHD Monitor,1,149.99,1/10/2019,"403 7th St, San Francisco, CA 94016"
9720,150499,ThinkPad Laptop,1,999.99,1/21/2019,"214 Main St, Portland, OR 97035"
9721,150500,AAA Batteries (4-pack),2,2.99,1/15/2019,"810 2nd St, Los Angeles, CA 90001"
9722,150501,Google Phone,1,600.00,1/13/2019,"428 Cedar St, Boston, MA 02215"

In [2]:
# lets see summary data
electronic_sales.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,9697,9697,9697,9697,9697,9697
unique,9269,20,8,18,33,9161
top,Order ID,USB-C Charging Cable,1,11.95,1/26/2019,Purchase Address
freq,16,1171,8795,1171,369,16

In [3]:
# lets check for missing values
missing_values = electronic_sales.isna().sum()
print(missing_values)

Order ID            26
Product             26
Quantity Ordered    26
Price Each          26
Order Date          26
Purchase Address    26
dtype: int64

In [6]:
# lets remove missing values
electronic_sales.dropna(subset=["Order ID"],inplace=True)
electronic_sales.dropna(subset=["Product"],inplace=True)
electronic_sales.dropna(subset=["Quantity Ordered"],inplace=True)
electronic_sales.dropna(subset=["Price Each"],inplace=True)
electronic_sales.dropna(subset=["Order Date"],inplace=True)
electronic_sales.dropna(subset=["Purchase Address"],inplace=True)
# lets check for missing values
missing_values = electronic_sales.isna().sum()
print(missing_values)

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [7]:
# let drop duplicates 
electronic_sales= electronic_sales.drop_duplicates()
electronic_sales

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700.00,1/22/2019,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,1/28/2019,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,1/17/2019,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,1/5/2019,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,1/25/2019,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...,...
9718,150497,20in Monitor,1,109.99,1/26/2019,"95 8th St, Dallas, TX 75001"
9719,150498,27in FHD Monitor,1,149.99,1/10/2019,"403 7th St, San Francisco, CA 94016"
9720,150499,ThinkPad Laptop,1,999.99,1/21/2019,"214 Main St, Portland, OR 97035"
9721,150500,AAA Batteries (4-pack),2,2.99,1/15/2019,"810 2nd St, Los Angeles, CA 90001"
9722,150501,Google Phone,1,600.00,1/13/2019,"428 Cedar St, Boston, MA 02215"

In [9]:
# lets create new columns  on address
electronic_sales[["Street_Address","State","Zip Code"]] = electronic_sales["Purchase Address"].str.split(',',2,expand=True)
electronic_sales

C:\Users\jki\AppData\Local\Temp\ipykernel_1740\3342447368.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  electronic_sales[["Street_Address","State","Zip Code"]] = electronic_sales["Purchase Address"].str.split(',',2,expand=True)
C:\Users\jki\AppData\Local\Temp\ipykernel_1740\3342447368.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  electronic_sales[["Street_Address","State","Zip Code"]] = electronic_sales["Purchase Address"].str.split(',',2,expand=True)
C:\Users\jki\AppData\Local\Temp\ipykernel_1740\3342447368.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  electronic_sales[["Street_Address","State","Zip Code"]] = electronic_sales["Purchase Address"].str.split(',',2,expand=True)
C:\Users\jki\AppData\Local\Temp\ipykernel_1740\3342447368.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  electronic_sales[["Street_Address","State","Zip Code"]] = electronic_sales["Purchase Address"].str.split(',',2,expand=True)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Street_Address,State,Zip Code
0,141234,iPhone,1,700.00,1/22/2019,"944 Walnut St, Boston, MA 02215",944 Walnut St,Boston,MA 02215
1,141235,Lightning Charging Cable,1,14.95,1/28/2019,"185 Maple St, Portland, OR 97035",185 Maple St,Portland,OR 97035
2,141236,Wired Headphones,2,11.99,1/17/2019,"538 Adams St, San Francisco, CA 94016",538 Adams St,San Francisco,CA 94016
3,141237,27in FHD Monitor,1,149.99,1/5/2019,"738 10th St, Los Angeles, CA 90001",738 10th St,Los Angeles,CA 90001
4,141238,Wired Headphones,1,11.99,1/25/2019,"387 10th St, Austin, TX 73301",387 10th St,Austin,TX 73301
...,...,...,...,...,...,...,...,...,...
9718,150497,20in Monitor,1,109.99,1/26/2019,"95 8th St, Dallas, TX 75001",95 8th St,Dallas,TX 75001
9719,150498,27in FHD Monitor,1,149.99,1/10/2019,"403 7th St, San Francisco, CA 94016",403 7th St,San Francisco,CA 94016
9720,150499,ThinkPad Laptop,1,999.99,1/21/2019,"214 Main St, Portland, OR 97035",214 Main St,Portland,OR 97035
9721,150500,AAA Batteries (4-pack),2,2.99,1/15/2019,"810 2nd St, Los Angeles, CA 90001",810 2nd St,Los Angeles,CA 90001
9722,150501,Google Phone,1,600.00,1/13/2019,"428 Cedar St, Boston, MA 02215",428 Cedar St,Boston,MA 02215

In [10]:
# lets check for the data types
electronic_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9672 entries, 0 to 9722
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          9672 non-null   object
 1   Product           9672 non-null   object
 2   Quantity Ordered  9672 non-null   object
 3   Price Each        9672 non-null   object
 4   Order Date        9672 non-null   object
 5   Purchase Address  9672 non-null   object
 6   Street_Address    9672 non-null   object
 7   State             9671 non-null   object
 8   Zip Code          9671 non-null   object
dtypes: object(9)
memory usage: 755.6+ KB

In [16]:
# lets find NAN
nan_df = electronic_sales[electronic_sales.isna().any(axis=1)]
display(nan_df.head())


electronic_sales = electronic_sales.dropna(how='all')
electronic_sales.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Street_Address,State,Zip Code
1073,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Purchase Address,None,None

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Street_Address,State,Zip Code
0,141234,iPhone,1,700.00,1/22/2019,"944 Walnut St, Boston, MA 02215",944 Walnut St,Boston,MA 02215
1,141235,Lightning Charging Cable,1,14.95,1/28/2019,"185 Maple St, Portland, OR 97035",185 Maple St,Portland,OR 97035
2,141236,Wired Headphones,2,11.99,1/17/2019,"538 Adams St, San Francisco, CA 94016",538 Adams St,San Francisco,CA 94016
3,141237,27in FHD Monitor,1,149.99,1/5/2019,"738 10th St, Los Angeles, CA 90001",738 10th St,Los Angeles,CA 90001
4,141238,Wired Headphones,1,11.99,1/25/2019,"387 10th St, Austin, TX 73301",387 10th St,Austin,TX 73301

In [21]:
# let get rid of strings in order date
electronic_sales = electronic_sales[electronic_sales["Order Date"].str[0:2]!='or']
electronic_sales

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Street_Address,State,Zip Code
0,141234,iPhone,1,700.00,1/22/2019,"944 Walnut St, Boston, MA 02215",944 Walnut St,Boston,MA 02215
1,141235,Lightning Charging Cable,1,14.95,1/28/2019,"185 Maple St, Portland, OR 97035",185 Maple St,Portland,OR 97035
2,141236,Wired Headphones,2,11.99,1/17/2019,"538 Adams St, San Francisco, CA 94016",538 Adams St,San Francisco,CA 94016
3,141237,27in FHD Monitor,1,149.99,1/5/2019,"738 10th St, Los Angeles, CA 90001",738 10th St,Los Angeles,CA 90001
4,141238,Wired Headphones,1,11.99,1/25/2019,"387 10th St, Austin, TX 73301",387 10th St,Austin,TX 73301
...,...,...,...,...,...,...,...,...,...
9718,150497,20in Monitor,1,109.99,1/26/2019,"95 8th St, Dallas, TX 75001",95 8th St,Dallas,TX 75001
9719,150498,27in FHD Monitor,1,149.99,1/10/2019,"403 7th St, San Francisco, CA 94016",403 7th St,San Francisco,CA 94016
9720,150499,ThinkPad Laptop,1,999.99,1/21/2019,"214 Main St, Portland, OR 97035",214 Main St,Portland,OR 97035
9721,150500,AAA Batteries (4-pack),2,2.99,1/15/2019,"810 2nd St, Los Angeles, CA 90001",810 2nd St,Los Angeles,CA 90001
9722,150501,Google Phone,1,600.00,1/13/2019,"428 Cedar St, Boston, MA 02215",428 Cedar St,Boston,MA 02215

In [26]:
# let change the data type of the quanntity ordered columns and price column
electronic_sales.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700.00,1/22/2019,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,1/28/2019,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,1/17/2019,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,1/5/2019,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,1/25/2019,"387 10th St, Austin, TX 73301"

In [46]:
# lets change the datatypes
electronic_sales['Order Date'] = pd.to_datetime(electronic_sales['Order Date'],errors='coerce' )
electronic_sales['Quantity Ordered'] = pd.to_numeric(electronic_sales['Quantity Ordered'], errors='coerce').fillna(0).astype(int)
electronic_sales['Price Each'] = pd.to_numeric(electronic_sales['Price Each'], errors='coerce')
electronic_sales['Price Each'] = electronic_sales['Price Each'].astype(float)

electronic_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9723 entries, 0 to 9722
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          9697 non-null   object
 1   Product           9697 non-null   object
 2   Quantity Ordered  9723 non-null   int32
 3   Price Each        9681 non-null   float64
 4   Order Date        9681 non-null   datetime64[ns]
 5   Purchase Address  9697 non-null   object
dtypes: datetime64[ns](1), float64(1), int32(1), object(3)
memory usage: 417.9+ KB