In [3]:
# import the libraries
import pandas as pd
import numpy as np

# load dataset

electronc_sales = pd.read_excel(r"C:\Users\jki\Downloads\electronic sales\electronic sales.xlsx" )
electronc_sales.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,12,2019-04-19 00:00:00,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,100,2019-04-07 00:00:00,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,2019-04-12 00:00:00,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,12,2019-04-12 00:00:00,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,12,2019-04-30 00:00:00,"333 8th St, Los Angeles, CA 90001"