In [4]:
# import librairies
import pandas as pd
import numpy as np

electronic_sales = pd.read_excel(r"C:\Users\jki\Downloads\electronic sales\electronic sales.xlsx")
electronic_sales

,Order ID,Product,Quantity,Price,Date,Address
0,176558.0,USB-C Charging Cable,2.0,12.0,2019-04-19,"917 1st St, Dallas, TX 75001"
1,176559.0,Bose SoundSport Headphones,1.0,100.0,2019-04-07,"682 Chestnut St, Boston, MA 02215"
2,176560.0,Google Phone,1.0,600.0,2019-04-12,"669 Spruce St, Los Angeles, CA 90001"
3,176560.0,Wired Headphones,1.0,12.0,2019-04-12,"669 Spruce St, Los Angeles, CA 90001"
4,176561.0,Wired Headphones,1.0,12.0,2019-04-30,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
65530,219872.0,Wired Headphones,1.0,12.0,2019-06-27,"846 9th St, Seattle, WA 98101"
65531,219873.0,AAA Batteries (4-pack),1.0,3.0,2019-06-18,"838 12th St, Los Angeles, CA 90001"
65532,219874.0,USB-C Charging Cable,1.0,12.0,2019-06-13,"925 Chestnut St, Atlanta, GA 30301"
65533,219875.0,Wired Headphones,1.0,12.0,2019-06-13,"692 9th St, Boston, MA 02215"
65534,219876.0,Apple Airpods Headphones,1.0,150.0,2019-06-12,"693 Spruce St, Dallas, TX 75001"

In [5]:
# lets remove mmissing values
missing_values = electronic_sales.isna().sum()
print(missing_values)

Order ID    323
Product     323
Quantity    323
Price       323
Date        323
Address     323
dtype: int64

In [8]:
# lets drop the missing values
electronic_sales.dropna(subset=['Order ID'],inplace=True)
electronic_sales.dropna(subset=['Product'],inplace=True)
electronic_sales.dropna(subset=['Quantity'],inplace=True)
electronic_sales.dropna(subset=['Price'],inplace=True)
electronic_sales.dropna(subset=['Address'],inplace=True)
# lets remove mmissing values
missing_values = electronic_sales.isna().sum()
print(missing_values)

Order ID    0
Product     0
Quantity    0
Price       0
Date        0
Address     0
dtype: int64

In [11]:
# lets have a look at the data types

electronic_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Order ID  65212 non-null  float64
 1   Product   65212 non-null  object
 2   Quantity  65212 non-null  float64
 3   Price     65212 non-null  float64
 4   Date      65212 non-null  datetime64[ns]
 5   Address   65212 non-null  object
 6   Month     65212 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 3.5+ MB

In [25]:
# lets change the data types
electronic_sales['Price'] = pd.to_numeric(electronic_sales['Price'])
electronic_sales['Quantity'] = pd.to_numeric(electronic_sales['Quantity'])
electronic_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65212 entries, 0 to 65534
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Order ID  65212 non-null  float64
 1   Product   65212 non-null  object
 2   Quantity  65212 non-null  float64
 3   Price     65212 non-null  float64
 4   Date      65212 non-null  datetime64[ns]
 5   Address   65212 non-null  object
 6   City      65212 non-null  object
 7   Sales     65212 non-null  float64
 8   Month     65212 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(3)
memory usage: 5.0+ MB

In [12]:
# Augment data with additional columns

# Add month column

# Convert 'Order Date' to datetime format
electronic_sales['Date'] = pd.to_datetime(electronic_sales['Date'])

# Extract the month and create a new column 'Month'
electronic_sales['Month'] = electronic_sales['Date'].dt.month

electronic_sales.head()

,Order ID,Product,Quantity,Price,Date,Address,Month
0,176558.0,USB-C Charging Cable,2.0,12.0,2019-04-19,"917 1st St, Dallas, TX 75001",4.0
1,176559.0,Bose SoundSport Headphones,1.0,100.0,2019-04-07,"682 Chestnut St, Boston, MA 02215",4.0
2,176560.0,Google Phone,1.0,600.0,2019-04-12,"669 Spruce St, Los Angeles, CA 90001",4.0
3,176560.0,Wired Headphones,1.0,12.0,2019-04-12,"669 Spruce St, Los Angeles, CA 90001",4.0
4,176561.0,Wired Headphones,1.0,12.0,2019-04-30,"333 8th St, Los Angeles, CA 90001",4.0

In [8]:
# Add clomun city
def get_city(address):
    return address.split(",")[1].strip(" ")

def get_state(address):
    return address.split(",")[2].split(" ")[1]

electronic_sales['City'] = electronic_sales['Address'].apply(lambda x: f"{get_city(x)}  ({get_state(x)})")
electronic_sales.head()

AttributeError: 'float' object has no attribute 'split'

In [13]:
#  Data Exploration!


# Question 1: What was the best month for sales? How much was earned that month?

electronic_sales['Sales'] = electronic_sales['Quantity'].astype('int') *electronic_sales['Price'].astype('float')


electronic_sales.groupby(['Month']).sum()

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt

months = range(1,12)
print(months)

plt.bar(months,electronic_sales.groupby(['Month']).sum()['Sales'])
plt.xticks(months)
plt.ylabel('Sales in USD ($)')
plt.xlabel('Month number')
plt.show()