In [1]:
import pandas as pd
data = {'age': [25, 22, 18, 30, 45, 50, 35, 20, 55, 40],
        'gender': ['M', 'F', 'F', 'M', 'M', 'F', 'M', 'F', 'M', 'M'],
        'score': [90, 80, 75, 95, 70, 85, 75, 90, 95, 85]}
df = pd.DataFrame(data)

In [2]:
df.head()

   age gender  score
0   25      M     90
1   22      F     80
2   18      F     75
3   30      M     95
4   45      M     70