Internet Sales Adventure Wokrs Dataset

Data Exploration & Cleaning

The first part of any data analysis or predictive modeling task is an initial exploration of the data. Even if you collected the data yourself and you already have a list of questions in mind that you want to answer, it is important to explore the data before doing any serious analysis, since oddities in the data can cause bugs and muddle your results. Before exploring deeper questions, you have to answer many simpler ones about the form and quality of data. That said, it is important to go into your initial data exploration with a big picture question in mind since the goal of your analysis should inform how you prepare the data.

In [1]:

# Load in some packages
import calendar
import pandas as pd
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings("ignore")

# lets load the dataset
internet_sales_df  = pd.read_csv(r"C:\Users\jki\Downloads\1 Adventure Wokrs\clean data\Internet Sales.csv")
internet_sales_df

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,CustomerKey,PromotionKey,CurrencyKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,...,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,CarrierTrackingNumber,CustomerPONumber,OrderDate,DueDate,ShipDate
0,310,20101229,20110110,20110105,21768,1,19,6,SO43697,1,...,2171,2171,3578,286,89,NaN,NaN,00:00.0,00:00.0,00:00.0
1,346,20101229,20110110,20110105,28389,1,39,7,SO43698,1,...,1912,1912,3400,272,85,NaN,NaN,00:00.0,00:00.0,00:00.0
2,346,20101229,20110110,20110105,25863,1,100,1,SO43699,1,...,1912,1912,3400,272,85,NaN,NaN,00:00.0,00:00.0,00:00.0
3,336,20101229,20110110,20110105,14501,1,100,4,SO43700,1,...,413,413,699,56,17,NaN,NaN,00:00.0,00:00.0,00:00.0
4,346,20101229,20110110,20110105,11003,1,6,9,SO43701,1,...,1912,1912,3400,272,85,NaN,NaN,00:00.0,00:00.0,00:00.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,311,20110628,20110710,20110705,18332,1,6,9,SO45020,1,...,2171,2171,3578,286,89,NaN,NaN,00:00.0,00:00.0,00:00.0
996,348,20110628,20110710,20110705,11358,1,6,9,SO45021,1,...,1898,1898,3375,270,84,NaN,NaN,00:00.0,00:00.0,00:00.0
997,350,20110628,20110710,20110705,11447,1,6,9,SO45022,1,...,1898,1898,3375,270,84,NaN,NaN,00:00.0,00:00.0,00:00.0
998,310,20110628,20110710,20110705,13807,1,29,8,SO45023,1,...,2171,2171,3578,286,89,NaN,NaN,00:00.0,00:00.0,00:00.0
999,344,20110629,20110711,20110706,29475,1,29,8,SO45024,1,...,1912,1912,3400,272,85,NaN,NaN,00:00.0,00:00.0,00:00.0

In [2]:
# lets check for missing values
missing_values = internet_sales_df.isna().sum()
print(missing_values)

ProductKey                  0
OrderDateKey                0
DueDateKey                  0
ShipDateKey                 0
CustomerKey                 0
PromotionKey                0
CurrencyKey                 0
SalesTerritoryKey           0
SalesOrderNumber            0
SalesOrderLineNumber        0
RevisionNumber              0
OrderQuantity               0
UnitPrice                   0
ExtendedAmount              0
UnitPriceDiscountPct        0
DiscountAmount              0
ProductStandardCost         0
TotalProductCost            0
SalesAmount                 0
TaxAmt                      0
Freight                     0
CarrierTrackingNumber    1000
CustomerPONumber         1000
OrderDate                   0
DueDate                     0
ShipDate                    0
dtype: int64

In [6]:
# let get ride of empty cells 
internet_sales_df.dropna(subset=['CarrierTrackingNumber'],inplace = True)
internet_sales_df.dropna(subset=['CustomerPONumber'],inplace = True)

# lets check for missing values
missing_values = internet_sales_df.isna().sum()
print(missing_values)

ProductKey               0.0
OrderDateKey             0.0
DueDateKey               0.0
ShipDateKey              0.0
CustomerKey              0.0
PromotionKey             0.0
CurrencyKey              0.0
SalesTerritoryKey        0.0
SalesOrderNumber         0.0
SalesOrderLineNumber     0.0
RevisionNumber           0.0
OrderQuantity            0.0
UnitPrice                0.0
ExtendedAmount           0.0
UnitPriceDiscountPct     0.0
DiscountAmount           0.0
ProductStandardCost      0.0
TotalProductCost         0.0
SalesAmount              0.0
TaxAmt                   0.0
Freight                  0.0
CarrierTrackingNumber    0.0
CustomerPONumber         0.0
OrderDate                0.0
DueDate                  0.0
ShipDate                 0.0
dtype: float64

In [7]:
# lets have a look at the datatypes
internet_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductKey             0 non-null      int64
 1   OrderDateKey           0 non-null      int64
 2   DueDateKey             0 non-null      int64
 3   ShipDateKey            0 non-null      int64
 4   CustomerKey            0 non-null      int64
 5   PromotionKey           0 non-null      int64
 6   CurrencyKey            0 non-null      int64
 7   SalesTerritoryKey      0 non-null      int64
 8   SalesOrderNumber       0 non-null      object
 9   SalesOrderLineNumber   0 non-null      int64
 10  RevisionNumber         0 non-null      int64
 11  OrderQuantity          0 non-null      int64
 12  UnitPrice              0 non-null      int64
 13  ExtendedAmount         0 non-null      int64
 14  UnitPriceDiscountPct   0 non-null      int64
 15  DiscountAmount         0 non-null      int64
 16  ProductStandardCost    0 non-null      int64
 17  TotalProductCost       0 non-null      int64
 18  SalesAmount            0 non-null      int64
 19  TaxAmt                 0 non-null      int64
 20  Freight                0 non-null      int64
 21  CarrierTrackingNumber  0 non-null      float64
 22  CustomerPONumber       0 non-null      float64
 23  OrderDate              0 non-null      object
 24  DueDate                0 non-null      object
 25  ShipDate               0 non-null      object
dtypes: float64(2), int64(20), object(4)
memory usage: 0.0+ bytes

In [10]:
# lets chage the order date data type
internet_sales_df['OrderDate'] = pd.to_datetime(internet_sales_df['OrderDate'])
internet_sales_df['OrderDate'].info()

<class 'pandas.core.series.Series'>
Int64Index: 0 entries
Series name: OrderDate
Non-Null Count  Dtype
--------------  -----
0 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 0.0 bytes